<button type="button" class="btn btn-success center-block btn-sm" (click)="collapsedCreateSchedule = !collapsedCreateSchedule;">
    <i class="fa fa-plus"></i> Create Schedule</button>&nbsp;

<button type="button" class="btn btn-primary btn-sm" (click)="openPendingSchedule()">
    <i class="fa fa-hourglass"></i> Pending / Approve / Reject Schedule <span
        class="badge badge-light ml-2">{{PendingScheduleDetails.length}}</span>
</button>

<fieldset class="scheduler-border" *ngIf="!collapsedCreateSchedule">
    <legend class="scheduler-border">
        <strong>{{ledgendTitle}}</strong>
    </legend>
    <form #createScheduleForm="ngForm">
        <div class="row">
            <div class="form-group col-sm-3">
                <strong for="type">
                    <span class="required">*</span>Select Presales Name :</strong>
                <select class="form-control" id="type" name="type" [(ngModel)]="createschedule.Presales" required #Presales="ngModel" [class.error]="Presales.invalid && Presales.touched" [class.has-success]="Presales.valid" [disabled]="disabled">
                    <option [value]="">--- Select Type ---</option>
                    <option *ngFor="let type of getPresalesName;trackBy: trackByFn" [value]="type.EmployeeId">
                        {{type.FirstName}}
                        {{type.LastName}}
                    </option>
                </select>
            </div>
            <div class="col-sm-5">
                <strong for="type">
                    <span class="required">*</span>Select Date Range:</strong>
                <input ngxDaterangepickerMd type="text" autocomplete="off" [alwaysShowCalendars]="true" [ranges]="rangesSearchSchedule" [linkedCalendars]="true" [showClearButton]="true"  required id="SelectedDateRange" name="selectedDateRange" #SelectedDateRange="ngModel"
                [(ngModel)]="selectedDateRange" class="form-control" (change)="onChangeDate(selectedDateRange)" placeholder="Select Date" [class.error]="SelectedDateRange.invalid && SelectedDateRange.touched" [class.has-success]="SelectedDateRange.valid"
             />
            </div>
            <div class="form-group col-sm-2">
                <strong for="preTime">
                    <span class="required">*</span>Start Time :</strong>
                <input [(ngModel)]="createschedule.StartTime" class="form-control" atp-time-picker value="{{startTime}}" name="sTime" #sTime="ngModel" (click)="SetStartTime()" />
                <!-- <span class="hours">Working hours time in between: 9AM to 8PM</span> -->
            </div>
            <div class="form-group col-sm-2">
                <strong for="preTime">
                    <span class="required">*</span>End Time :</strong>
                <input class="form-control" [(ngModel)]="createschedule.EndTime" atp-time-picker value="{{endTime}}" name="eTime" #eTime="ngModel" (click)="SetEndTime()" />
                <!-- <span class="hours">Office hours: 8AM to 8PM</span> -->
            </div>
        </div>
        <div class="col-sm-12 text-center" [hidden]="!isLoader">
            <p class="loading">
                <i class="fa fa-spinner fa-pulse"></i>&nbsp; Loading...
            </p>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 text-center">
                <button type="button" *ngIf="!disabled" class="btn btn-primary center-block" (click)="InsertPresalesSchedule('INSERT','insert','Pending')" [disabled]="createScheduleForm.form.invalid || !endTime || !startTime">
                    <i class="fa fa-paper-plane"></i> Submit</button>
                <button type="button" *ngIf="disabled" class="btn btn-primary center-block" (click)="InsertPresalesSchedule('INSERT','update','Pending')">
                    <i class="fa fa-edit"></i> Update</button>&nbsp;
                <button type="button" *ngIf="disabled" [disabled]="isLoader" class="btn btn-success center-block" (click)="clearDPMInsert()">
                    <i class="fa fa-plus"></i> Create New</button>
            </div>
        </div>
    </form>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">
        <strong>Presales Schedule Details</strong>
    </legend>
    <div class="row">
        <div class="form-group col-sm-3">
            <strong for="type">Select Presales Name :</strong>
            <select class="form-control" id="type" name="type" [(ngModel)]="searchDPMModel.Presales" #Presales="ngModel" [class.error]="Presales.invalid && Presales.touched" [class.has-success]="Presales.valid">
                <option [value]="">--- Select Type ---</option>
                <option *ngFor="let type of getPresalesName;trackBy:trackByFn" [value]="type.EmployeeId">
                    {{type.FirstName}}
                    {{type.LastName}}
                </option>
            </select>
        </div>

        <div class="col-sm-5">
            <strong for="type">Select Date Range:</strong>
            <input ngxDaterangepickerMd type="text" autocomplete="off" [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true" id="date" name="Date" #date="ngModel" [(ngModel)]="selectedDateRangeForSearch" class="form-control" (change)="onChangeDateOnSearch(selectedDateRangeForSearch)"
                placeholder="Select Date" [class.error]="date.invalid && date.touched" [class.has-success]="date.valid" />
        </div>
        <div class="form-group col-sm-2">
            <div class="form-group insertBtn col-sm-12 text-center">
                <button type="button" class="btn btn-primary center-block mt-3" (click)=getPresalesSchedule()>
                    <i class="fa fa-search"></i> Search</button>
            </div>
        </div>
    </div>
    <div class="table-responsive" id="style-2">
        <table class="table table-bordered table-hover table-striped table-sm text-nowrap">
            <thead class="thead-light">
                <tr>
                    <th>Presales Name</th>
                    <th *ngFor="let head of header; trackBy: trackByFn;">{{head |date:"d MMM y"}}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let details of presalesScheduleList | paginate: {id:'Employee-Details-pagination', itemsPerPage: 8, currentPage: p1 };trackBy: trackByFn">
                    <td>
                        {{details.Name}}
                    </td>
                    <td *ngFor="let head of header; trackBy: trackByFn;">
                        {{(details[head] && details[head].ST)? details[head].ST : 'NA'}} To {{(details[head] && details[head].ET) ? details[head].ET : 'NA'}}
                    </td>
                    <td>
                        <button class="btn btn-link btn-sm" (click)="openSchedulepopup(details)">
                            <i class="fa fa-edit"></i>Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <tfoot class="pull-right" *ngIf="presalesScheduleList.length>8">
            <pagination-controls id="Employee-Details-pagination" (pageChange)="p1 = $event">
            </pagination-controls>
        </tfoot>
        <div class="col-sm-12 text-center" *ngIf="notFound">
            <strong class="required">No Data Found</strong>
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-sm-4">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">
                <strong>Todays Active Users</strong> &nbsp;&nbsp;
                <button class="btn btn-outline-primary btn-xs circle" (click)="getActiveUsersList()" ngbTooltip='Click To Refresh'>
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </legend>
            <div class="table-responsive scrollbar" id="style-2">
                <table class=" table table-bordered table-hover table-striped table-sm text-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th>Presales Names</th>
                            <th>First Login</th>
                            <th>Last Logout</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let details of userDetails ;trackBy: trackByFn">
                            <td>
                                <strong>{{details.EmployeeName}}</strong>
                                <span class="mt-1" [ngClass]="{'greendot': details.CurrentLogOutTime===null,
                                    'reddot': details.LoginTime===null || details.CurrentLogOutTime}"></span>
                            </td>
                            <td>
                                {{details.LoginTime | date:'shortTime'}}
                            </td>
                            <td>
                                {{details.LastLogoutTime | date:'shortTime'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-8">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">
                <strong>Incentive </strong>
            </legend>

            <mat-tab-group>
                <mat-tab label="Incentive Plan">
                    <form #updateIncentiveForm="ngForm">
                        <fieldset class="scheduler-border" *ngIf="displaySection">
                            <legend class="scheduler-border">
                                <strong>Update Incentive</strong>
                            </legend>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <strong for="type">
                                        <span class="required">*</span>Name :</strong>
                                    <input type="text" [disabled]="displaySection" [(ngModel)]="IncentiveModel.IncentiveOn" class="form-control" name="IncentiveOn" id="IncentiveOn" required />
                                </div>
                                <div class="form-group col-sm-2">
                                    <strong for="preTime">
                                        <span class="required">*</span>Amount:</strong>
                                    <input type="number" [(ngModel)]="IncentiveModel.price" class="form-control" name="price" id="price" min="0" required />
                                    <!-- <span class="hours">Working hours time in between: 9AM to 8PM</span> -->
                                </div>
                                <div class="col-sm-3">
                                    <strong>
                                        <span class="required">*</span>Effective From Date</strong>
                                    <input class="form-control " type="date" name="effectiveStartDate" id="effectiveStartDate" required [(ngModel)]="IncentiveModel.EffectiveStartDate" #EffectiveStartDate="ngModel" [min]="getToday()" [class.error]="EffectiveStartDate.invalid && EffectiveStartDate.touched"
                                        [class.has-success]="EffectiveStartDate.valid" pattern="(?:2018|2019|(?:202)[0-9]{1}|(?:203)[0-9]{1}|(?:204)[0-9]{1})-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
                                </div>
                                <div class="col-sm-3">
                                    <strong>
                                        <span class="required">*</span>Effective To Date</strong>
                                    <input class="form-control " type="date" name="effectiveEndDate" id="effectiveEndDate" required [(ngModel)]="IncentiveModel.EffectiveEndDate" #EffectiveEndDate="ngModel" [class.error]="EffectiveEndDate.invalid && EffectiveEndDate.touched" [min]="getToday()"
                                        [class.has-success]="EffectiveEndDate.valid" pattern="(?:2018|2019|(?:202)[0-9]{1}|(?:203)[0-9]{1}|(?:204)[0-9]{1})-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
                                </div>
                                <div class="form-group col-sm-12 text-center">
                                    <div class="form-group insertBtn col-sm-12 text-center">
                                        <button type="button" *ngIf="showCreateNewButton" class="btn btn-primary" (click)="UpdateIncentive('UPDATE')" [disabled]="!IncentiveModel.price">
                                            <i class="fa fa-edit"></i> Update</button>
                                        <p class="loading" [hidden]="!isUpdateLoader">
                                            <i class="fa fa-spinner fa-pulse"></i>&nbsp; Loading...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="table-responsive scrollbar mt-2" id="style-2">
                            <table class=" table table-bordered table-hover table-striped table-sm text-nowrap">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Incentive Names</th>
                                        <th>Standard Rate</th>
                                        <th>Updated Rate</th>
                                        <th>Effective From</th>
                                        <th>Effective To</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of IncentiveData;trackBy: trackByFn;">
                                        <td>
                                            {{data.IncentiveOn}}
                                        </td>
                                        <td>
                                            <i class="fa fa-inr" aria-hidden="true"></i>{{data.StdRate}}
                                        </td>
                                        <td>
                                            <i class="fa fa-inr" aria-hidden="true"></i>{{data.price}}
                                        </td>
                                        <td>
                                            {{data.EffectiveStartDate |date:'d MMM y'}}
                                        </td>
                                        <td>
                                            {{data.EffectiveEndDate |date:'d MMM y'}}
                                        </td>
                                        <td>
                                            <button class="btn btn-link btn-sm" (click)="editIncentive(data)">
                                                <i class="fa fa-edit"></i>Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="DPM Incentive History">
                    <div class="row mb-2 p-2">
                        <div class="col-sm-5">
                            <strong for="type">Select Date Range:</strong>
                            <input ngxDaterangepickerMd type="text" autocomplete="off" [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true" id="date" name="Date" #date="ngModel" [(ngModel)]="selectedDateRangeIncentiveSearch" class="form-control" (change)="onChangeIncentiveSearch(selectedDateRangeIncentiveSearch)"
                                placeholder="Select Date" [class.error]="date.invalid && date.touched" [class.has-success]="date.valid" />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary mt-3" (click)="getIncentiveNameList()">
                                <i class="fa fa-search"></i> Search</button>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group-prepend mt-3">
                                <span class="input-group-text primary-color-dark lighten-3" id="basic-text1">
                                    <i class="fa fa-search text-white" aria-hidden="true"></i>
                                </span>
                                <input class="form-control my-0 py-1 " type="text" name="search" [(ngModel)]="searchText" placeholder="Search By Incentive Name">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive scrollbar mt-2 p-2" id="style-2">
                        <table class=" table table-bordered table-hover table-striped table-sm text-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th>Incentive Names</th>
                                    <th>Standard Amt</th>
                                    <th>Updated Amt</th>
                                    <th>Effective From</th>
                                    <th>Effective To</th>
                                    <th>CreatedOn</th>
                                    <th>Updated By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of IncentiveHistory |filter:searchText ;trackBy: trackByFn;">
                                    <td> {{data.IncentiveOn}} </td>
                                    <td> <i class="fa fa-inr" aria-hidden="true"></i>{{data.StdRate}} </td>
                                    <td> <i class="fa fa-inr" aria-hidden="true"></i>{{data.Price}} </td>
                                    <td> {{data.EffectiveStartDate |date:'d MMM y'}} </td>
                                    <td> {{data.EffectiveEndDate |date:'d MMM y'}} </td>
                                    <td> {{data.CreatedOn |date:'d MMM y'}} </td>
                                    <td> {{data.EmployeeName}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="DPM Team Incentive History">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong for="type">Select Date Range:</strong>
                            <input ngxDaterangepickerMd type="text" autocomplete="off" [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true" id="date" name="Date" #date="ngModel" [(ngModel)]="selectedDateRangeIncentiveHistorySearch" class="form-control" (change)="onChangeDate(selectedDateRangeIncentiveHistorySearch)"
                                placeholder="Select Date" [class.error]="date.invalid && date.touched" [class.has-success]="date.valid" />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary mt-3" (click)="employeeIncentive()">
                                <i class="fa fa-search"></i> Search</button>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group-prepend mt-3">
                                <span class="input-group-text primary-color-dark lighten-3" id="basic-text1">
                                    <i class="fa fa-search text-white" aria-hidden="true"></i>
                                </span>
                                <input class="form-control my-0 py-1 " type="text" name="search" [(ngModel)]="searchText" placeholder="Search By Presales Name">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive scrollbar" id="style-2">
                        <table class="table table-bordered table-hover table-striped table-sm text-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th *ngFor="let heading of Incentiveheader; trackBy: trackByFn;">
                                        <span *ngIf="heading !=='EmployeeId'">{{heading}}</span>
                                    </th>
                                    <!-- <th>Total</th> -->
                                </tr>
                            </thead>
                            <tbody *ngIf="Incentivedata.length>0">
                                <tr class="text-center" *ngFor="let data of Incentivedata |filter:searchText ;trackBy: trackByFn;let i= index;">
                                    <td>{{data.Name}}</td>
                                    <td *ngFor="let heading of Incentiveheader; trackBy: trackByFn;">
                                        <div *ngIf="data[heading] !=='Name'"><button class="btn btn-sm btn-link" (click)="selectedIncentiveDetail(heading,data.EmployeeId)"><i
                                                    class="fa fa-inr" aria-hidden="true"></i>{{data[heading]}}</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12 text-center" *ngIf="notFound">
                            <strong class="required">No Data Found</strong>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </fieldset>
    </div>
</div>

<div bsModal #PendingSchedulePopup="bs-modal" class="modal fade" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="myLargeModalLabel" s aria-hidden="true">
    <form #PendingScheduleForm="ngForm">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title title pull-left">Presales Pending Schedule</h4>
                    <img id="cross" src="assets/images/crossnew.png" alt="X" (click)="onClose()" />
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <strong for="type">Select Presales Name :</strong>
                            <select class="form-control" id="type" name="type" [(ngModel)]="searchDPMModel.Presales" #Presales="ngModel" [class.error]="Presales.invalid && Presales.touched" [class.has-success]="Presales.valid">
                                <option [value]="">--- Select Type ---</option>
                                <option *ngFor="let type of getPresalesName;trackBy: trackByFn"
                                    [value]="type.EmployeeId">
                                    {{type.FirstName}} {{type.LastName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <strong for="type">Select Date Range:</strong>
                            <input ngxDaterangepickerMd type="text" autocomplete="off" [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true" id="date" name="Date" #date="ngModel" [(ngModel)]="selectedDateRangeIncentiveSearch" class="form-control" (change)="onChangeIncentiveSearch(selectedDateRangeIncentiveSearch)"
                                placeholder="Select Date" [class.error]="date.invalid && date.touched" [class.has-success]="date.valid" />
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group insertBtn col-sm-12 text-center">
                                <button type="button" class="btn btn-primary center-block mt-3" (click)=PendingSchedule()>
                                    <i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table table-bordered table-hover table-sm text-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Schedule Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>CreatedOn</th>
                                    <th>Status / Approve / Reject</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="PendingScheduleDetails.length>0">
                                <tr *ngFor="let details of PendingScheduleDetails;let i=index;trackBy: trackByFn;">
                                    <td>{{details.Name}} </td>
                                    <td>{{details.ScheduleDate |date:"d MMM y"}}</td>
                                    <td>{{details.StartTime}} </td>
                                    <td>{{details.EndTime}}</td>
                                    <td>{{details.CreatedOn |date:"d MMM y"}}</td>
                                    <td>
                                        <mat-radio-group aria-label="Select an option" *ngIf="loggedInuserDetails.UserId!==details.PendingBy">
                                            <mat-radio-button class="example-radio-button" name="rname{{i}}" *ngFor="let section of list;trackBy: trackByFn;" [value]="section.value" (change)="radioChange($event,details)">
                                                {{section.key}}</mat-radio-button>&nbsp;
                                        </mat-radio-group>
                                        <label *ngIf="loggedInuserDetails.UserId===details.PendingBy">{{details.Status==='Pending'?'Pending
                                            For Approval':''}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 text-center" *ngIf="PendingScheduleDetails.length ===0">
                        <strong class="required">No Data Found</strong>
                    </div>
                    <br />
                    <div class="col-sm-12 text-center" *ngIf="PendingScheduleDetails.length>0">
                        <button type="button" class="btn btn-primary" [disabled]="isLoader||PendingScheduleForm.form.invalid" (click)="InsertPresalesSchedule('UPDATE','approved','Approved')" *ngIf="flag">
                            <i class="fa fa-paper-plane"></i> Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div bsModal #showDetailsModal="bs-modal" cdkDrag class="modal fade model" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="mylargeModalLabel" s aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-sm-12">
                    <h3 class="modal-title text-center">{{modalTitle}}</h3>
                </div>
                <img id="cross" src="assets/images/crossnew.png" alt="X" (click)="onClose()" />
            </div>
            <div class="modal-body">
                <div *ngIf="!isPopUpLoading">
                    <p class="loading">
                        <i class="fa fa-spinner fa-pulse"></i>&nbsp; Loading...
                    </p>
                </div>
                <div *ngIf="showDateReport">
                    <div class="text-center" *ngIf="DateWiseIncentive.length===0 && !isPopUpLoading">
                        <strong class="required"> Records Not Available </strong>
                    </div>
                    <div class="table-responsive scrollbar" *ngIf="DateWiseIncentive.length>0 && isPopUpLoading">
                        <table class="table table-bordered table-hover table-striped table-sm text-nowrap tableFixHead">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>Name</th>
                                    <th>Call Count</th>
                                    <th>Amount</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngFor="let detail of DateWiseIncentive ;trackBy: trackByFn;">
                                    <td>{{detail.EmployeeName}}</td>
                                    <td>{{detail.callcount}}</td>
                                    <td><button class="btn btn-sm btn-link" (click)="SelectedDateDetails(detail)"><i
                                                class="fa fa-inr" aria-hidden="true"></i>{{detail.Amount}}</button></td>
                                    <td>{{detail.CreatedOn |date: 'd MMM y'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="!showDateReport">
                    <button *ngIf="modalTitle==='Total Calls'&& showDateReport === false" class="pull-left" (click)="showDateReport = true" class="btn btn-md btn-primary"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i> Back</button>
                    <button type="button" class="btn btn-primary pull-right" (click)="exportEvent()">
                        <i class=" fa fa-download"></i> &nbsp; Export</button>
                    <h5 *ngIf="selectedIncentiveData.length" class="pull-right marginright"><span class="badge badge-dark">Count :
                            {{selectedIncentiveData.length}}</span></h5>&nbsp;&nbsp;
                    <div class="table-responsive scrollbar" *ngIf="selectedIncentiveData.length>0 && isPopUpLoading">
                        <table class="table table-bordered table-hover table-striped table-sm text-nowrap tableFixHead">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>SrNo</th>
                                    <th># Enquiry Id</th>
                                    <th># LeadId</th>
                                    <th>Name</th>
                                    <th *ngIf="modalTitle==='Order'">
                                        Order Id</th>
                                    <th *ngIf="modalTitle==='Site Visit Conducted'">
                                        Incentive Amt</th>
                                    <th *ngIf="modalTitle==='Total Calls'">Duration</th>
                                    <th *ngIf="modalTitle==='Site Visit Conducted'"> SiteVisit Duration</th>
                                    <th *ngIf="modalTitle==='Total Calls'">Recording</th>
                                    <th>Created On</th>
                                    <th *ngIf="modalTitle==='Total Calls'">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngFor="let detail of selectedIncentiveData ;trackBy: trackByFn;let i= index">
                                    <td>{{i+1}}

                                    </td>
                                    <td>{{detail.EnquiryId}}</td>
                                    <td>{{detail.ReferralId}}</td>
                                    <td>{{detail.Name | titlecase}}</td>
                                    <td *ngIf="modalTitle==='Order'">{{detail.OrderId}}</td>
                                    <td *ngIf="modalTitle==='Site Visit Conducted'">
                                        <span [ngClass]="{
                                            'Bluedot':detail.Amount===250,
                                        'Reddot':detail.Amount===300,
                                        'DarkBluedot':detail.Amount===400}">
                                    </span> {{detail.Amount}}
                                    </td>
                                    <td *ngIf="modalTitle==='Total Calls'">{{detail.Duration}}</td>
                                    <td *ngIf="modalTitle==='Site Visit Conducted'"> {{detail.SiteVisitDuration}}</td>
                                    <td *ngIf="modalTitle==='Total Calls' && detail.CallUrl">
                                        <a href="{{detail.CallUrl}}" download target="_blank" class="downloadIcon">
                                            <i class="fas fa-download"></i> Download</a>
                                    </td>
                                    <td *ngIf="modalTitle==='Total Calls' && !detail.CallUrl">NA</td>
                                    <td>{{detail.Createdon |date: 'd MMM y'}}</td>
                                    <td *ngIf="loggedInuserDetails.Role===11 && modalTitle==='Total Calls'">
                                        <button type="button" class="btn btn-link btn-sm" (click)="openRatingPopup(selectedIncentiveData[i])">
                                            <i class="fa fa-edit"></i>
                                            Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-dark">
                        <strong class="text-dark"> Note: Incentive Amount -
                            <span class="Bluedot text-primary">
                        </span> 
                            1 to 10  </strong>&nbsp;&nbsp;&nbsp;
                        <strong class="text-danger"><span class="Reddot">
                        </span>  11  to 20  </strong>&nbsp;&nbsp;&nbsp;

                        <strong class="text-dark"> <span class="DarkBluedot">
                        </span> Above 20  </strong>&nbsp;&nbsp;
                    </div>
                    <div class="text-center" *ngIf="selectedIncentiveData.length===0">
                        <strong class="required"> Records Not Available </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #callRatingPopup="bs-modal" class="modal fade" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="myLargeModalLabel" s aria-hidden="true">
    <form #AdminPanelForm="ngForm">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title title pull-left">Call Analysis Rating</h4>
                    <img id="cross" src="assets/images/crossnew.png" alt="X" (click)="onCloseRating()" />
                </div>
                <div class="modal-body" style="height: 550px;">
                    <div class="table-responsive" *ngIf="finalDetails.length>0">
                        <table class="table table-bordered table-striped table-sm text-nowrap" cellsspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>
                                        <span class="pull-left">Components</span>
                                        <span style="margin-left: 19rem;">Score</span>
                                        <span style="margin-left: 1.8rem;">Points</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let snapshot of finalDetails;trackBy: trackByFn; let i=index">
                                    <td>{{snapshot.RatingOn}}</td>
                                    <td>
                                        <div *ngFor="let data of snapshot.SubData;trackBy: trackByFn; let j = index;">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="pull-left">{{data.SubRatingOn}}</span>&nbsp;
                                                </div>
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-1">
                                                    <span>{{data.Points}}</span>
                                                </div>
                                                <div class="col-sm-2 pull-right">
                                                    <input type="tel" (input)="validation(data)" [(ngModel)]="data.rating" name="rating{{i}}{{j}}" class="form-control input-size" min=0 />
                                                    <div *ngIf="result">
                                                        <strong class="text-danger" *ngIf="result===data.CRSubMasterId">{{ErrorMessage}}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Remark</td>
                                    <td><textarea class="form-control" rows="2" name="remark" #remark="ngModel" [(ngModel)]="RatingModel.Remark"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Auto Fail</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span class="pull-left">Rude to the Customer</span>
                                                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" name="autoFail1" [(ngModel)]="RatingModel.AutoFail1">
                                                    <mat-radio-button class="example-radio-button pull-left ml-2" *ngFor="let status of booleanStatus" [value]="status.value">
                                                        {{status.key}}
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="pull-left">Wrong Commitment</span>
                                                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" name="autoFail2" [(ngModel)]="RatingModel.AutoFail2">
                                                    <mat-radio-button class="example-radio-button pull-left ml-2" *ngFor="let status of booleanStatus" [value]="status.value">
                                                        {{status.key}}
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-md-center">
                    <button type="button" class="btn btn-primary" (click)="InsertUpdaterating()" [disabled]="ErrorMessage">
                    <i class="fa fa-paper-plane"></i>Submit</button>
                    <div class="row">
                        <div class="col-sm-12" align="center">
                            <div [hidden]="!isSpinner">
                                <p class="loading">
                                    <i class="fa fa-spinner fa-pulse"></i>&nbsp; Loading...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>