<form>
  <div [hidden]="!isLoading">
    <p class="loadingstyle">
      <i class="fa fa-spinner fa-pulse"></i>&nbsp; Loading...
    </p>
  </div>
  <br />
  <div class="card cardfortable">
    <div class="title text-center">
      <span>Service Request</span>
    </div>
    <div class="table-responsive scrollbar" id="style-2" *ngIf="!showDataNotFoundMessage">
      <table class="table table-bordered table-hover  table-sm text-nowrap">
        <thead class="thead-light">
          <tr>
            <th>Issue Id</th>
            <th>Issue Date</th>
            <th>Issue Subject</th>
            <th>Issue Status</th>
            <th>Issue Details</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let report of showServiceReqEmplyee| paginate: {id:'employee-service-pagination', itemsPerPage: 3, currentPage: p1 }">
            <td>{{report.IssueId}}</td>
            <td>{{report.IssueDate}}</td>
            <td>{{report.IssueSubject}}</td>
            <td>
                <span [ngClass]="{'badge-danger':report.IssueStatus==='New','badge-info':report.IssueStatus==='Assigned',
                'badge-success':report.IssueStatus==='Resolved','badge-warning':report.IssueStatus==='Duplicate'
                 }">
                {{report.IssueStatus}}</span>
            </td>
            <td><span data-toggle="tooltip"
                title="{{report.Details?report.Details:''}}">{{report.Details ? ((report.Details.length>60) ? (report.Details | slice:0:60)+'...' : report.Details) :''}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <tfoot class="pull-right">
        <pagination-controls id="employee-service-pagination" (pageChange)="p1 = $event"></pagination-controls>
      </tfoot>
    </div>
  </div>
  <br />
  <div class="required" *ngIf="showDataNotFoundMessage">
    <span>{{NoDataFoundMessage}}</span>
  </div>
  <br />
</form>