hr.style13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.fontsize {
  font-size: larger;
}

.fontsizecolor {
  font-size: larger;
  color: #cc0000;
}
.text-muted {
  color: #000000 !important;
  font-weight: 400 !important;
}
strong {
  font-weight: 450;
}
.greencard-style{
  border-top-color: forestgreen;
  border-top-width: thick;
}

.orangecard-style{
  border-top-color: coral;
  border-top-width: thick;
}