<div class="row">
    <div class="col-sm-12 mb-3 mt-1">
        <!-- <h5>All Discussion</h5> -->
        <h6 (click)="goToTab()" class="pull-right newDisc pointer"><strong>&nbsp;Post a Question
                &nbsp;<i class="fa fa-plus"></i></strong></h6>
        <hr>
    </div>
    <div class="col-sm-12" [ngClass]="(allDiscussions.length===0)?'mbtm':'mb-1'">
        <div class="table-responsive p-2">
            <table class=" table table-bordered table-sm text-nowrap" cellsspacing="0" width="100%">
                <thead>
                    <tr class="text-left">
                        <th>
                            <h5 class="tbltitle">Discussion</h5>
                        </th>
                        <th class="text-right">Posted On</th>
                        <th>Views</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of allDiscussions | paginate: {id:'allDiscussionspg', itemsPerPage: 10, currentPage: currentPageId }; trackBy: trackByFn;let i=index;">
                        <td class="pointer">
                            <div class="row" (click)="viewDetails(item)">
                                <div class="col-sm-1 centeritem"> <br>
                                    <span><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i></span>
                                </div>
                                <div class="col-sm-11">
                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <h6 class="pull-left pt-2"><span
                                                    class="head_text txt_link">{{item.Subject |titlecase}}</span></h6>
                                        </div>
                                        <div class="col-sm-12"><span class="pull-left font13 text-muted txt_link"
                                                [innerHTML]="item.shortMessage">
                                            </span></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="pointer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6 class="pull-right pr-2"><span> <img
                                                src="../../../../../../../assets/images/user.png" width="25px" alt="">
                                            {{item.UserName | titlecase}}</span></h6>
                                </div>
                                <div class="col-sm-12"> <span class="pull-right pr-2">{{item.CreatedOn}}</span></div>
                            </div>
                        </td>
                        <td class="text-center">{{item.Views}}</td>
                        <td *ngIf="UserRole!==28">
                            <p *ngIf="item.IsPinned" matTooltip="Pinned Discussion" class="test"> <i
                                    class="fa fa-thumb-tack poipos" aria-hidden="true"></i>
                            </p>
                        </td>
                        <td *ngIf="UserRole===28">
                            <p *ngIf="item.IsPinned" (click)="PinPost(item)" matTooltip="Pinned Discussion"
                                class="test"><i class="fa fa-thumb-tack poipos" aria-hidden="true"></i>
                            </p>
                            <p *ngIf="!item.IsPinned" (click)="PinPost(item)" class="pointer">Pin <i
                                    class="fa fa-thumb-tack" aria-hidden="true"></i>
                            </p>
                        </td>

                    </tr>
                </tbody>
            </table>
            <tfoot *ngIf="allDiscussions.length > 10" class="pull-right">
                <pagination-controls id="allDiscussionspg" (pageChange)="currentPageId = $event">
                </pagination-controls>
            </tfoot>
            <span class="text-danger ml-2 " *ngIf="allDiscussions.length===0">No Discussion's Found</span>
        </div>
    </div>
</div>