.fontsize
{
    font-size: 1.3rem;
}
.custome-style {
    width: 441px !important;
    display: inline-block;
    vertical-align: left;
    max-height: 150px;
    overflow: auto;
}
.img-size{
    width: 25px;
    height: 25px;
  }