#imageLogo{
    width: 30px;
  }
  .createBtn{
    padding-top: 22px
  }
 .imgsize{
  font-size: 24px;
 }
 .img-size{
   font-size: 24px;
   margin-top: -67px;
 }
 .red-snackbar {
  background:#ff4444 !important;
  color: rgb(255, 255, 255);
  font-weight: 500 !important;
}

.TotalAmountborder{
  border: 1px solid black;
}
.name-width {
  border-radius: 10px;
}