.img-size{
    height: 85px;
}
.size{
    width:135px;
    height: 80px;
  }
  .video{
    height: 550px;
    width: 100%;
  }
  .text-alignment{
    height: 80px;
    overflow-y: auto;
  }
  .all-alignment{
    padding: 0px 0px;
  }