.selectPS {
    background-color: green;
    padding: 4px 4px;
    color: white;
    border-radius: 50%;
}

.TotalAmountborder {
    border: 1px solid black;
}

.middlebtn {
    margin-top: 50px;
}

.leftalign {
    text-align: left;
}

.boldtext {
    font-weight: 500;
}

.boldtitletext {
    font-weight: 400;
}
.exportBtn {
    padding: 0.6rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 500;
}
 
.name-width {
    border-radius: 10px;
  }

  pre {
    display: block !important;
    font-size: 100%;
    font-family: "Raleway", sans-serif !important;
    color: #212529;
    white-space: pre-wrap !important;
    margin-top: 0;
    margin-bottom: 0rem;
    overflow: hidden;
  }
