.card-header:first-child {
  font-weight: 500;
  font-size: 19px;
}
.fileicon {
  font-size: 1.7rem;
}
.heder {
  background-color: #e9ecef;
  border-radius: 2.25rem;
}
.card {
  border-radius: 1.55rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.55rem;
}
.card-body {
  padding-top: 10px;
}
.btn-success {
  margin-top:-4px;
  margin-left: 10px;
}
