<div class="row">
    <div class="container">
        <ngb-tabset type="pills">
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <b> <i class="fas fa-user-friends"></i> Interaction Details</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <hr class="style13">
                    <div class="row">
                        <div class="col-sm-12">
                            <select class="form-control" name="interactionfilter" #interactionfilter="ngModel"
                                [(ngModel)]="interactionFilter" (change)="filterOnInteraction(interactionFilter)">
                                <option value="">---Select All---</option>
                                <option [value]="interaction.key"
                                    *ngFor="let interaction of interactionTypes;trackBy: trackByFn">
                                    {{interaction.value}}</option>
                            </select>
                            <br />
                            <ol>
                                <li
                                    *ngFor="let data of interactionModel | paginate: { itemsPerPage: 4, currentPage: p1 };trackBy: trackByFn">
                                    <span class="textweightnormal"> <i class="fa fa-book"></i> {{data.Details}} <br>
                                        <strong>InteractionType:-{{data.InteractionType}}</strong> </span>
                                    <span class="text-muted">
                                        <br>
                                        <strong>Created By:-</strong> {{data.CreatedBy}}
                                        <br />
                                        <strong>Created On:-</strong>
                                        {{data.CreatedOn |date:"d MMM y"}}
                                        <br />

                                    </span>
                                    <hr>
                                </li>
                            </ol>
                            <tfoot class="pull-right" [hidden]="interactionModel.length <= 4">
                                <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
                            </tfoot>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <b>
                        <i class="fa fa-phone"></i> Call Details</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <hr class="style13">
                    <!-- <div *ngIf="callDetails.length > 0">
                        <h6 class="callDetailsAlert">Audio clips Which can not be played. Please Use Download option.
                        </h6>
                    </div> -->
                    <div class="main" style="height: 28.5em; overflow: auto;zoom: 95%; padding: 3em;" id="style-7">
                        <p *ngFor="let data of callDetails;trackBy: trackByFn">
                            <span style="margin-left: 12em;">
                                <!-- <audio controls>
                                    <source src={{data.CallUrl}} type="audio/mpeg">
                                </audio> -->
                            </span>
                            <a href="{{data.CallUrl}}" download target="_blank" class="downloadIcon">
                                <i class="fas fa-download"></i> Click To Download</a>
                            <br />
                            <span class="text-muted"><strong>Call To:-</strong>{{data.To}} || <strong>On</strong>
                                {{data.StartTime}}
                                || <strong>Call Status:-</strong> {{data.Status}} || <strong></strong>
                                {{data.Direction}}</span>
                        </p>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab>
                <ng-template ngbTabTitle>
                    <b>
                        <i class="fa fa-envelope"></i> SMS Details</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <hr class="style13">
                    <div>
                        <li *ngFor="let data of smsDetails;trackBy: trackByFn">
                            <i class="fa fa-envelope-open"></i> {{data.Body}}
                            <br />
                            <span class="text-muted"><strong>SentBy:-</strong> {{data.SentBy}} ||
                                <strong>SentOn:-</strong>
                                {{data.DateSent |date:"d MMM y"}} || <strong>Status:-</strong> {{ data.Status }} </span>
                            <hr>
                        </li>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>