.error-section {
    padding: 100px 0;
    h1 {
        font-size: 100px;
    }
    h2 {
        margin: 20px 0;
        font-size: 18px;
    }
}
.error-section {
    padding: 130px 0 140px;
    text-align: center;
    h1 {
        font-size: 200px;
        font-weight: 900;
        margin: 0;
        line-height: 0.8;
        color: grey;
    }
    h2 {
        color: black;
        font-weight: 500;
        letter-spacing: 3px;
        margin: 40px 0;
    }
}
.error-section {
    h1,
    h2 {
        text-align: center;
    }
}