#gridViewImageBtn {
  font-size: 26px;
}
.modal-lg {
  max-width: 1000px;
  max-height: 450px;
}
.img {
  display: block;
  width: 100%;
  height: 440px;
}
.fa fa-file-image-o {
  font-size: 26px;
}
.modal-header {
  background-color: #33b5e5;
}
.modal-title {
  margin-left: 468px;
  color: white;
  line-height: 0.5;
}
.font{
  font-size:40px
}