.pointer{
  cursor: pointer;
}
.modal-header{
	background-color:#33B5E5;
}
.modal-title{
	margin-left: 275px;
	 color: white;
}
#redBtn{
  background-color:red;
  color:white;
  padding:4px;
  font-weight:bold;
  border-radius:8px;
  font-size:14px;
  }
  #greenBtn{
  background-color:green;
  color:white;
  padding:4px;
  font-weight:bold;
  border-radius:8px;
  font-size:14px;
   }
  #yellowBtn{
  background-color:orange;
  color:white;
  padding:4px;
  font-weight:bold;
  border-radius:8px;
  font-size:14px;
  }
  .marginb{
    margin-bottom: 1em;
  }