@media (min-width: 992px)
{
.modal-lg {
    max-width: 1070px;
}
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
  }

  .box{
    height: 124px;    
  }