.previous {
    background-color: #f1f1f1;
    color: black;
}
.next {
    background-color: #f1f1f1;
    color: black;
}
.round {
    border-radius: 50%;
    margin-top: 142px !important;
}
.background{
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 10px 5px #888888;
    -moz-box-shadow: 0 10px 5px #888888;
    box-shadow: 0 10px 5px #888888;
}
.fa{
    cursor: pointer;
}