<br />
<div class="row">
    <div class="col-sm-1">
        <button type="button" class="btn btn-primary" (click)="exportEvent()"
            [hidden]="MarketingComponantShow || loggedInuserDetails.Role === 21"
            [disabled]=" referralException && !Showsummery || loggedInuserDetails.Level==='L3'">
            <i class=" fa fa-download"></i> &nbsp; Export</button>
    </div>
    <div class="col-sm-2" *ngIf="!MarketingComponantShow && loggedInuserDetails.Role !== 21">
        <button type="button" id="reportSummery" class="btn btn-primary" (click)="switchToSummery()"> <i
                class="fa fa-toggle-on"></i>&nbsp; {{SwitchSummeryName}}
        </button>
    </div>
    <div class="col-sm-2 text-right">
        <strong [hidden]="MarketingComponantShow">Select Date Range: </strong>
    </div>
    <div class="col-sm-3">
        <input ngxDaterangepickerMd type="text" autocomplete="off" [alwaysShowCalendars]="true" [ranges]="ranges"
            [linkedCalendars]="true" required id="date" name="Date" #date="ngModel" [(ngModel)]="selectedDateRange"
            class="form-control" placeholder="Select Start Date and End Date" (change)="onChangeDate(selectedDateRange)"
            [class.error]="date.invalid && date.touched" [class.has-success]="date.valid" />
    </div>
    <div class="col-sm-2" *ngIf='!Showsummery'>
        <button type="button" id="customSwitches" class="btn btn-primary" (click)="switchToMarketing()"> <i
                class="fa fa-toggle-on"></i>&nbsp; {{SwitchButtonName}}</button>
    </div>
    <div class="col-sm-2" *ngIf="!MarketingComponantShow && !Showsummery">
        <button data-toggle="tooltip" data-placement="top" title="Show Multiple Site Visit" type="button"
            class="btn btn-primary pull-right" (click)="SiteVisitClick()">
            <i class="fa fa-info"></i>&nbsp; Site Visit</button>
    </div>

</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <span *ngIf="referralException  && !Showsummery && getEnquirySummaryData.length===0" class="required">No
            sitevisit on selected date
            range.</span>
    </div>
</div>
<div class="row" *ngIf="loggedInuserDetails.Role===21 && !MarketingComponantShow">
    <div class="form-group col-sm-2">
        <br />
        <select class="form-control dropDown" id="summary" name="summary" [(ngModel)]="SummaryName"
            (change)="getEnquirySummary()">
            <option value=''>--Select--</option>
            <option class='option' *ngFor='let summaryname of SummaryNameList;trackBy: trackByFn'
                [value]="summaryname.key">{{summaryname.value}} </option>
        </select>
    </div>
    <div class="form-group col-sm-2"
        *ngIf="(this.SummaryName==='BySource' || this.SummaryName==='ByCampaign') && selectedDateRange">
        <br />
        <select class="form-control dropDown" id="project" name="project" [(ngModel)]="ProjectId"
            (change)="getEnquirySummary()">
            <option value=''>--Select--</option>
            <option class='option' *ngFor='let project of PreferredProjectInfo;trackBy: trackByFn'
                [value]="project.ProjectId">
                {{project.ProjectName}} </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <div *ngIf="isLoading">
            <p class="loading">
                <i class="fa fa-spinner fa-pulse"></i>&nbsp; Loading...
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="NoSummaryData"><span class="text-danger">No Data Found</span></div>
    <div class="col-sm-8 text-center" *ngIf="getEnquirySummaryData.length>0 && !MarketingComponantShow && !isLoading">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">New Lead Summary</legend>
            <div class="table-responsive" #table>
                <div *ngIf="getEnquirySummaryData.length>0 ">
                    <table class="table table-bordered table-hover table-responsive-sm">
                        <thead class="thead-light sticky text-center">
                            <tr>
                                <th>{{tableheader}}</th>
                                <th>Incoming</th>
                                <th>Prospect</th>
                                <th>Warm</th>
                                <th>Hot</th>
                                <th>Cold</th>
                                <th>Unqualified</th>
                                <th>Lost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center"
                                *ngFor="let data of getEnquirySummaryData;let i = index;trackBy: trackByFn;">
                                <td>{{data.ColName | titlecase}} ({{data.Total?data.Total:0}}) </td>
                                <td> {{data.Incoming ? data.Incoming :0}} </td>
                                <td> {{data.Prospect ? data.Prospect :0}} </td>
                                <td> {{data.Warm ? data.Warm :0}} </td>
                                <td> {{data.Hot ? data.Hot :0}} </td>
                                <td> {{data.Cold ? data.Cold :0}} </td>
                                <td> {{data.Unqualified ? data.Unqualified :0}} </td>
                                <td> {{data.Lost ? data.Lost :0}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div
    *ngIf="!referralException && !isLoading && !MarketingComponantShow && !Showsummery && loggedInuserDetails.Role!==21">
    <!-- <br> -->
    <h4 class="pull-right"><span class="badge badge-dark py-1 px-2">Count : {{referralDetails.length}}</span></h4>
    <div class="table-responsive scrollbar" id="style-2">
        <table class="table table-bordered table-hover  table-sm text-nowrap tableFixHead ">
            <thead class="thead-light">
                <tr class="text-center" id="tablecolor">
                    <th>#</th>
                    <th>Created On</th>
                    <th>Conducted On </th>
                    <th>Presales #</th>
                    <th>Lead Id</th>
                    <th>Lead Name </th>
                    <!-- <th>Mobile No</th> -->
                    <th>Source</th>
                    <th>Project</th>
                    <th>Frontdesk</th>
                    <th>Sales Agent</th>
                    <th>Presales Agent</th>
                    <th>Status</th>
                    <!-- <th>Email</th> -->
                    <th>Referred By</th>
                    <th>No.Of SV</th>
                </tr>
                <tr>
                    <td colspan="3"> </td>
                    <td>
                        <input class="id-width " type="number" name="searchEnquiryId"
                            [(ngModel)]="filterDataModel.EnquiryId" (keyup)="filterLeadData()">
                    </td>
                    <td>
                        <input class="id-width" type="number" name="referralId"
                            [(ngModel)]="filterDataModel.TReferralId" (keyup)="filterLeadData()">
                    </td>
                    <td>
                        <input class="mobile-width" type="text" name="name" [(ngModel)]="filterDataModel.Name"
                            (keyup)="filterLeadData()">
                    </td>
                    <td>
                        <input class="name-width" type="text" name="source" [(ngModel)]="filterDataModel.Source"
                            (keyup)="filterLeadData()">
                    </td>
                    <td>
                        <input class="name-width" type="text" name="projectName"
                            [(ngModel)]="filterDataModel.ProjectName" (keyup)="filterLeadData()">
                    </td>
                    <td>
                        <input class="name-width" type="text" name="frontdeskName"
                            [(ngModel)]="filterDataModel.CreatedBy" (keyup)="filterLeadData()">
                    </td>
                    <td>
                        <input class="name-width" type="text" name="salesAgentAssinged"
                            [(ngModel)]="filterDataModel.SalesAgentAssinged" (keyup)="filterLeadData()">
                    </td>
                    <td>
                        <input class="name-width" type="text" name="PresalesAgentName"
                            [(ngModel)]="filterDataModel.PresalesAgentName" (keyup)="filterLeadData()">
                    </td>
                    <td>
                        <input class="name-width" type="text" name="referralStatus"
                            [(ngModel)]="filterDataModel.ReferralStatus" (keyup)="filterLeadData()">
                    </td>
                    <td>
                        <input class="name-width" type="text" name="referredby" [(ngModel)]="filterDataModel.ReferralBy"
                            (keyup)="filterLeadData()">
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let referral of referralDetails;let i=index;trackBy: trackByFn">
                    <td>{{i+1}}</td>
                    <td>{{referral.ReceivedOn|date:"d MMM yy"}}</td>
                    <td>{{referral.CreatedOn|date:"d MMM yy"}}</td>
                    <td>{{referral.TEnquiryId}}</td>
                    <td> <button type="button" class="btn btn-link btn-sm" (click)="gotoReferralDetails(referral)">
                            <i class="fa fa-eye"></i> {{referral.TReferralId}}</button></td>
                    <td class="text-left pl-2">{{referral.Name }}</td>
                    <!-- <td>{{referral.MobileNo}}</td> -->
                    <td>{{referral.Source}}</td>
                    <td>{{referral.ProjectName}}</td>
                    <td class="text-left pl-2">{{referral.CreatedBy}}</td>
                    <td class="text-left pl-2">{{referral.SalesAgentAssinged }}</td>
                    <td class="text-left pl-2">{{referral.PresalesAgentName }}</td>
                    <td>
                        <span [ngClass]="{
                        'SVHOT': referral.ReferralStatus==='Hot',
                        'svs' :referral.ReferralStatus==='Site Visit Scheduled',
                        'svd' :referral.ReferralStatus==='Site Visit Done'||referral.ReferralStatus==='site Visit Done',
                        'Lost': referral.ReferralStatus==='Contact Establish'||referral.ReferralStatus==='Unqualified'||referral.ReferralStatus==='Lost'||referral.ReferralStatus==='Assigned to Presales',
                        'New': referral.ReferralStatus==='New'||referral.ReferralStatus==='Negotiation',
                        'Booked': referral.ReferralStatus==='Booked'||referral.ReferralStatus==='booked',
                        'warm': referral.ReferralStatus==='Warm',
                        'cold': referral.ReferralStatus==='Cold'||referral.ReferralStatus==='EOI Submitted'
                        }"> </span> &nbsp;&nbsp;{{referral.ReferralStatus}}
                    </td>
                    <!-- <td>{{referral.ReferralEmail}}</td> -->
                    <td class="text-left pl-2">{{referral.ReferralBy |titlecase}}</td>
                    <td>{{referral.NoOfSiteVisit}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <tfoot class="pull-right">
        <pagination-controls id="lead-Details-pagination" (pageChange)="p1 = $event; pageChangeEvent()">
        </pagination-controls>
    </tfoot> -->
</div>
<!-- Marketing Analysis Tab-->
<br>
<div [hidden]="!MarketingComponantShow && !isLoading">
    <div class="row">
        <div class="col-sm-12 text-center">
            <span *ngIf="MarketingData.length ===0" class="required">No source analysis on
                selected date range.</span>
        </div>
    </div>
    <div *ngIf=" MarketingData.length > 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm table-hover  " #table>
                        <thead class="thead-light sticky">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Source</th>
                                <th>Enquiry</th>
                                <th>Leads</th>
                                <th>Site Visit</th>
                                <th>Bookings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor=" let TableData of MarketingData| paginate: {id:'MarketingData-pagination',itemsPerPage:12, currentPage: p2 };let i=index;trackBy: trackByFn">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-left">{{TableData.Source}}</td>
                                <td class="text-center">{{TableData.NoOfEnquiries}}</td>
                                <td class="text-center">{{TableData.NoOfLeads}}</td>
                                <td class="text-center">{{TableData.NoOfSiteVisits}}</td>
                                <td class="text-center">{{TableData.NoOfBookings}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <tfoot class="pull-right" *ngIf="MarketingData.length > 12">
                        <pagination-controls id="MarketingData-pagination"
                            (pageChange)="p2 = $event; pageChangeEvent()">
                        </pagination-controls>
                    </tfoot>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-12 chart">
                    <div class="card-header">
                        Source Analysis Chart
                        <select class="form-control" id="SortPichart" name="sortPichart" [(ngModel)]="SortPichart"
                            #sortPichart="ngModel" (ngModelChange)="PichartSorting(SortPichart)">
                            <option value="">--Select--</option>
                            <option class='option' *ngFor='let data of DropDownData;trackBy: trackByFn'
                                [value]="data.value">{{data.key}}
                            </option>
                        </select>
                    </div>
                    <div [hidden]="!isPieChartLoading">
                        <p class="loading">
                            <i class="fa fa-spinner fa-pulse"></i>&nbsp; Loading...
                        </p>
                    </div>
                    <span class="notfoundmsg">{{pieChartDataNotFoundMessage}}</span>
                    <div *ngIf="!pieChartDataNotFoundMessage">
                        <div id="piechart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="Showsummery && !isLoading">
    <span *ngIf="byProjectDetails.length>0 " class="text-center">
        <h4>Total site visit done in selected date range:<span class="badge badge-primary"> {{SiteVisitCount}}</span>
        </h4>
    </span>
    <br>
    <div class="row">
        <div class="col-sm-4" *ngIf="byProjectDetails.length>0">
            <div class="card cardfortable">
                <div class="title text-center">
                    <span class="textweight">Site Visit By Project</span>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover  table-sm text-nowrap  " #table>
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Project Name </th>
                                <th>No.Of Leads</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor=" let project of byProjectDetails| paginate: {id:'project-Details-pagination',itemsPerPage:15, currentPage: projectindex };let i=index;trackBy: trackByFn">
                                <td>{{i+1}}</td>
                                <td class="text-center">{{project.PreferredProject}}</td>
                                <td class="text-center">{{project.NoOfLeads}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <tfoot class="pull-right" *ngIf="byProjectDetails.length >15">
                        <pagination-controls id="project-Details-pagination" (pageChange)="projectindex = $event">
                        </pagination-controls>
                    </tfoot>
                </div>
            </div>
        </div>
        <div class="col-sm-4" *ngIf="bySalesDetails.length>0">
            <div class="card cardfortable">
                <div class="title text-center">
                    <span class="textweight">Site Visit Conducted By Sales</span>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover  table-sm text-nowrap  " #table>
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Sales AgentName Name </th>
                                <th>No.Of Leads</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor=" let sales of bySalesDetails| paginate: {id:'sales-Details-pagination',itemsPerPage:15, currentPage: salesindex };let i=index;trackBy: trackByFn">
                                <td>{{i+1}}</td>
                                <td class="text-center">{{sales.SalesAgentName ? sales.SalesAgentName : 'NA'}}</td>
                                <td class="text-center">{{sales.NoOfLeads}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <tfoot class="pull-right" *ngIf="bySalesDetails.length >15">
                        <pagination-controls id="sales-Details-pagination" (pageChange)="salesindex = $event">
                        </pagination-controls>
                    </tfoot>
                </div>
            </div>
        </div>
        <div class="col-sm-4" *ngIf="byPresalesDetails.length>0">
            <div class="card cardfortable">
                <div class="title text-center">
                    <span class="textweight">Site Visit Arranged By Presales</span>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover  table-sm text-nowrap  " #table>
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>PresalesAgent Name </th>
                                <th>No.Of Leads</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor=" let presales of byPresalesDetails| paginate: {id:'presales-Details-pagination',itemsPerPage:15, currentPage: presalesindex };let i=index;trackBy: trackByFn">
                                <td>{{i+1}}</td>
                                <td class="text-center">{{presales.PresalesAgentName}}</td>
                                <td class="text-center">{{presales.NoOfLeads}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <tfoot class="pull-right" *ngIf="byPresalesDetails.length >15">
                        <pagination-controls id="presales-Details-pagination" (pageChange)="presalesindex = $event">
                        </pagination-controls>
                    </tfoot>
                </div>
            </div>
        </div>
    </div>
    <span *ngIf="byPresalesDetails.length===0 && !isLoading" class="required">No Sitevisit on selected daterange.</span>
</div>
<div id="celender"></div>