.modal-header{
    background-color:#33B5E5;
}
#imageLogo{
    width: 30px;
  }
.modal-title{ 
    margin-left: 315px;
    color: white;
 }
 .far{
  font-weight: 600;
  font-size: 1.4em;
  color: red;
 }
 .btn-link
 {
 font-weight: 800;
 font-size: 0.9em;
 }
 .img-responsive{
    width: 45px !important;
}